img {
	border-radius: 3px;
}
@media screen and (min-width: 1201px) {
	img {
		width: 900px;
	}
}
@media screen and (max-width: 1200px) {
	img {
		width: 720px;
	}
}
@media screen and (max-width: 992px) {
	img {
		width: 600px;
	}
}
@media screen and (max-width: 768px) {
	img {
		width: 460px;
	}
}
@media screen and (max-width: 576px) {
	img {
		width: 345px;
	}
}
@media screen and (max-width: 400px) {
	img {
		width: 240px;
	}
}
@media screen and (max-width: 300px) {
	img {
		width: 180px;
	}
}
@media screen and (max-width: 200px) {
	img {
		width: 120px;
	}
}
@media screen and (max-width: 130px) {
	img {
		width: 78px;
	}
}