#loading {
	width: 100%; 
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 80px;
	height: 80px;
}

.leaflet-container {
	border-radius: 5px;
	height: 450px;
	margin: 0 auto;
}
@media screen and (min-width: 1201px) {
	.leaflet-container {
		width: 1000px;
	}
}
@media screen and (max-width: 1200px) {
	.leaflet-container {
		width: 800px;
	}
}
@media screen and (max-width: 992px) {
	.leaflet-container {
		width: 700px;
	}
}
@media screen and (max-width: 768px) {
	.leaflet-container {
		width: 500px;
	}
}
@media screen and (max-width: 576px) {
	.leaflet-container {
		width: 380px;
	}
}
@media screen and (max-width: 400px) {
	.leaflet-container {
		width: 250px;
	}
}
@media screen and (max-width: 300px) {
	.leaflet-container {
		width: 150px;
	}
}
@media screen and (max-width: 200px) {
	.leaflet-container {
		width: 100px;
	}
}
@media screen and (max-width: 130px) {
	.leaflet-container {
		width: 65px;
	}
}